app-login {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  display: block;

  .card {
    padding: 20px;
  }

  mat-form-field {
    width: 100%;

    &:nth-child(1) {
      margin-top: 50px;
    }
  }
}
